<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduates Platform</title>
    <!-- Иконка вкладки в браузере -->
    <link rel="shortcut icon" href="{{host}}/favicon.ico" type="image/x-icon">

    {{> bootstrap-styles }}

    <!-- Original CSS -->
    <link rel="stylesheet" href="{{host}}/style.css">
    <link rel="stylesheet" href="{{host}}/index.css">
</head>
<body>
{{> header}}
<section class="cards-container">
    {{#graduates}}
        <div class="card">
            <div class="card-plate-container">
                {{#plates}}
                    <img class="card-plate" src="{{host}}/img/plates/{{.}}.png" alt="{{.}}">
                {{/plates}}
            </div>
            <div class="card-info">
                <div class="nickname-container">
                    <span class="country"><img class="country" src="{{host}}/img/country/{{country}}.png"
                                               alt="{{country}}"></span>
                    <span class="nickname">{{name}}</span>
                    <span class="server">#{{server}}</span>
                </div>
                <div class="card-info-container">
                    <div class="champions">
                        {{#champions}}
                            <img src="{{host}}/img/champions/squares/{{.}}.png" alt="{{.}}">
                        {{/champions}}
                    </div>
                    <div class="rank">
                        <img class="rank-img" src="{{host}}/img/rank/{{finalRank}}.png" alt="{{finalRank}}"
                             title="{{finalRank}}">
                        <p class="label rank-description">{{finalRank}} {{finalDivision}} {{finalLP}}lp</p>
                    </div>
                </div>

                <div class="roles">
                    <img src="{{host}}/img/roles/{{mainRole}}.png" alt="" title="{{mainRole}}">
                    <img src="{{host}}/img/roles/{{secondRole}}.png" alt="" title="{{secondRole}}">
                </div>
            </div>
            <div class="bottom-btns">
                <a class="btn opgg-btn" href="{{opgg}}">
                    <img src="{{host}}/img/opgg.svg" alt="OPGG">
                </a>
                <a class="btn more-btn" href="{{host}}/profile/{{name}}">
                    Подробнее
                </a>
            </div>
        </div>
    {{/graduates}}
</section>
<!-- Пагинация -->
<!--    <nav>-->
<!--        <ul class="pagination">-->
<!--            <li class="page-item disabled">-->
<!--                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>-->
<!--            </li>-->
<!--            <li class="page-item active" aria-current="page">-->
<!--                <a class="page-link" href="#">1</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#">2</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#">3</a>-->
<!--            </li>-->
<!--            <li class="page-item">-->
<!--                <a class="page-link" href="#">&raquo;</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
{{> footer }}

{{> bootstrap-scripts }}
</body>
</html>