<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#profile}}<title>Graduates Platform Профиль - {{name}}</title>{{/profile}}
    <!-- Иконка вкладки в браузере -->
    <link rel="shortcut icon" href="{{host}}/favicon.ico" type="image/x-icon">

    {{> bootstrap-styles }}
    <!-- Original CSS -->
    <link rel="stylesheet" href="{{host}}/style.css">
    <link rel="stylesheet" href="{{host}}/profile.css">
</head>
<body>
{{> header }}
<section class="container">
{{#profile}}
        <div class="player-info">
            <div class="player-info-container">
                <div class="nickname-container title">
                    <span class="country-flag"><img class="country" src="{{host}}/img/country/{{country}}.png" alt="{{country}}"></span>
                    <span class="nickname">{{name}}</span>
                    <span class="server">#{{server}}</span>
                </div>
                <div class="full-name">
                    <span>ФИО:</span>
                    <span class="fio">{{fullName}}</span>
                </div>
                <div class="country">
                    <span>Страна:</span>
                    <span>{{country}}</span>
                </div>
                <div class="contact">
                    <span>Почта:</span>
                    <span>{{email}}</span>
                </div>
                <div class="roles">
                    <img src="{{host}}/img/roles/{{mainRole}}.png" alt="{{mainRole}}" title="{{mainRole}}"
                         class="roles-item">
                    <img src="{{host}}/img/roles/{{secondRole}}.png" alt="{{secondRole}}" title="{{secondRole}}"
                         class="roles-item">
                </div>
            </div>
            <div class="player-info-container player-feedback-container">
                <div class="feedback graduate-feedback">
                    <h1 class="feedback title">Обратная связь "Игрок"</h1>
                    <p class="feedback-text">
                        {{studentFeedback}}
                    </p>
                </div>
                <div class="feedback coach-feedback">
                    <h1 class="feedback title">Обратная связь "Тренер"</h1>
                    <p class="feedback-text">
                        {{coachFeedback}}
                    </p>
                </div>
                <div class="plates">
                    <h1 class="title">Пластины</h1>
                    <div class="plates-container">
                        {{#plates}}
                            <img src="{{host}}/img/plates/{{.}}.png" alt="{{.}}" title="{{.}}" class="plates-item">
                        {{/plates}}

                    </div>
                </div>
            </div>
            <a class="btn opgg-btn" href="{{opgg}}">
                <img src="{{host}}/img/opgg.svg" alt="OPGG">
            </a>
        </div>
        <div class="player-stats">
            <h1 class="title">Чемпионы:</h1>
            <div class="player-characters">
                {{#champions}}
                    <div class="character">
                        <img class="character-img" src="{{host}}/img/champions/background/{{name}}.jpg" alt="{{name}}">
                        <div class="name">
                            <span class="subtitle">Наименование:</span>
                            <span>{{name}}</span>
                        </div>
                        <div class="KDA">
                            <span class="subtitle">KDA</span>
                            <span>{{averageKDA}}</span>
                        </div>
                        <div class="CS">
                            <span class="subtitle">CS:</span>
                            <span>{{averageCS}} ({{averageCSPerMinute}})</span>
                        </div>
                        <div class="games">
                            <span class="subtitle">Количество игр:</span>
                            <span>{{summaryGames}}</span>
                        </div>
                    </div>
                {{/champions}}
            </div>

            <div class="player-rank">
                <h1 class="title">Rank:</h1>
                <div class="next-rank">
                    <div class="rank">
                        <img src="{{host}}/img/rank/{{startingRank}}.png" alt="{{startingRank}}">
                        <p>{{startingRank}} {{startingDivision}} {{startingLP}}lp</p>
                    </div>
                    <div class="next-rank-chevron">
                        <img src="{{host}}/img/rank/chevron.svg" alt="next">
                    </div>
                    <div class="rank">
                        <img src="{{host}}/img/rank/{{finalRank}}.png" alt="{{startingRank}}">
                        <p>{{finalRank}} {{finalDivision}} {{finalLP}}lp</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rank-container container">
    {{#skills}}
            <div class="rank-card">
                <div class="progress progress-bar-vertical">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
                         aria-valuemax="100" style="height: {{percent}}%;">
                        <span class="sr-only">{{percent}}</span>
                    </div>
                </div>
                <div class="rank-text">
                    <p class="rank-title">{{name}}</p>
                    <p class="rank-subtitle">{{description}}</p>
                </div>
            </div>
    {{/skills}}
{{/profile}}
</section>

{{> footer }}

{{> bootstrap-scripts }}
</body>
</html>